@media only screen and (min-width: 320px) and (max-width: 480px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        overflow-x: hidden;
        font-family: 'Montserrat', sans-serif;
    }
    html{
        font-size: 80%;
    }
    /* HERO-2 */
    .articles{
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
        margin-top: 14px;
    }
    /* HERO 9 */
    .hero-9{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    
        justify-content: center;
        align-items: center;
    
    }
    /* HERO 9 DONE */

    /* FOOTER */
    
    /* FOOTER DONE */
}    